.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }

.lightbox .lb-image {
  display: block;
  width: 60vw !important;
  height: 600px !important;
  object-fit: cover;
  max-width: inherit;
  border-radius: 8px; }

@media only screen and (max-width: 767px) {
  .lightbox .lb-image {
    display: block;
    width: 90vw !important;
    height: 400px !important;
    object-fit: cover;
    max-width: inherit;
    border-radius: 8px;
}
}

.lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 10px; }

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-container {
  padding: 4px; }

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  width: 3em;
  float: left;
  background: url(../images/icons/img-sprite.png) 36px 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s; }

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-nav a.lb-next {
  width: 3em;
  right: 0;
  float: right;
  background: url(../images/icons/img-sprite.png) -23px 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s; }

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-data {
  padding: 0 4px;
  color: #ccc; }

.lb-data .lb-details {
  width: 90%;
  float: left;
  text-align: left;
  line-height: 1.1em;
  margin-top: 1em; }

.lb-data .lb-caption {
  font-size: 16px;
  line-height: 25px;
  color: #fff; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-top: 1em;
  font-size: 1em;
  color: #fff; }

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  zoom: 0.7;
  margin-top: 1.5em;
  background: url(/assets/images/icons/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.6;
  transition: opacity 0.2s; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

@media screen and (max-width: 320px) {
  .lb-data .lb-details {
    width: 89%;
    margin-top: 1em; }
  .lb-data .lb-caption {
    font-size: 12px; } }

.products-4 #products4-block {
  padding: 70px 0; }

.products-4 .d-grid {
  display: grid; }

.products-4 .grid-col-3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px; }

.products-4 .product a {
  display: block; 
  height: 100%;
}

.products-4 .product {
  position: relative;
  margin-bottom: 20px;
 }

.products-4 .product-details {
  position: absolute;
  bottom: 30px;
  width: 100%; }

.products-4 .product-details a {
  font-size: 20px;
  line-height: 25px;
  color: #304659;
  margin-bottom: 10px;
  font-weight: bold; }

.products-4 .product-details a:hover {
  opacity: 0.8; }

.products-4 span.price {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  color: #3B5266; }

.products-4 section.tab-content {
  display: block;
  padding: 38px 0 0; }

.products-4 input {
  display: none; }

.products-4 label.tabtle {
  display: inline-block;
  text-align: center;
  color: var(--title-color);
  margin: 0 5px;
  font-size: 16px;
  line-height: 25px;
  border: 1px solid var(--title-color);
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer; 
  border: 0.1px solid #ddd;
}

.products-4 figure {
  margin: 0; }

.products-4 label.tabtle:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px; }

.products-4 input:checked + label.tabtle, .products-4 label.tabtle:hover {
  text-align: center;
  background: var(--opposite-color);
  font-size: 16px;
  line-height: 25px;
  background-color: #3858f6;
  color: #fff;
  padding: 10px 30px;
  border-radius: 4px;
  border: 1px solid var(--opposite-color); }

.products-4 .info-bg {
  background: #fff;
  padding: 25px 20px;
  box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }

.products-4 .product a img {
  border-radius: 10px; 
  object-fit: cover;
  height: 350px;
}

.products-4 .info-bg h5 a {
  font-size: 20px;
  line-height: 25px;
  color: var(--heading-color);
  display: block;
  text-transform: capitalize;
  margin-bottom: 5px; }

.product:hover .info-bg h5 a {
  color: var(--theme-alt-color); }

.products-4 .info-bg h5 a:hover {
  color: #000000; }

.products-4 .info-bg p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: var(--para-color);
  margin-top: 10px;
  margin-bottom: 20px; }

.products-4 .info-bg span.price {
  color: var(--theme-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 25px; }

@media all and (max-width: 1080px) {
  .products-4 .grid-col-3 {
    grid-gap: 15px; }
  .products-4 .info-bg h5 a {
    font-size: 20px; } }

@media all and (max-width: 1024px) {
  .products-4 h3.heading-title {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 46px; } }

@media screen and (max-width: 992px) {
  .products-4 .grid-col-3 {
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 800px) {
  .products-4 label.tabtle:before {
    margin: 0;
    font-size: 18px; }
  .products-4 .grid-col-4 {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px; }
  .products-4 h3.heading-title {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 40px; }
  .products-4 #products4-block {
    padding: 60px 0; }
  .products-4 label.tabtle, .products-4 input:checked + label.tabtle, .products-4 label.tabtle:hover {
    margin: 0 0px;
    padding: 8px 12px;
    margin-bottom: 5px; } }

@media screen and (max-width: 600px) {
  .products-4 h3.heading-title {
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 30px; }
  .products-4 .grid-col-3 {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 480px) {
  .products-4 #products4-block {
    padding: 50px 0; }
  .products-4 label.tabtle, .products-4 input:checked + label.tabtle, .products-4 label.tabtle:hover {
    padding: 8px 12px; } }

@media screen and (max-width: 440px) {
  .products-4 h3.heading-title {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 25px; }
  .products-4 label.tabtle,
  .products-4 input:checked + label.tabtle {
    font-size: 15px; }
  .products-4 section.tab-content {
    padding: 28px 0 0; } }


